.flex-row{
	display:flex;flex-direction:row;
}
.m1em{
	margin:1em 1em;
}
.mx1em{
	margin:0 1em;
}
.my1em{
	margin:1em 0 ;
}
.mx5px{
	margin:0 5px ;
}
.my5px{
	margin:5px 0  ;
}
.btn-fluid{
	width: 100%;
	font-size: 18px;
}